{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <!-- Include the header -->
    {% include 'dashboard/header.html' %}
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Dashboard Rules</h5>
                </div>
                <div class="card-body">
                    <!-- Rules content here -->
                    <p>Rules management content...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}